@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* ================================
     Typography
     ================================ */
  --font-rubik: "Rubik", sans-serif;

  /* ********************************
     Light Mode
     ******************************** */

  /* ================================
     Background Colors - Light Mode
     ================================ */
  --color-bg-pink: #fff1fa;
  --color-bg-green: #f4fff4;
  --color-bg-blue: #f6f8ff;
  --color-bg-purple: #fff2ff;
  --color-bg-yellow: #fff8ea;
  --color-bg-slideControl: #efefef;
  --color-bg-muted: #d9d9d9;

  /* ================================
  Background Colors - Dark Mode
  ================================ */
  --color-bg-dark: #0a0b0a;

  /* ================================
     Navbars 
     ================================ */
  --color-navbar-pink: #a0166e;
  --color-navbar-green: #008900;
  --color-navbar-blue: #002296;
  --color-navbar-purple: #81007d;
  --color-navbar-yellow: #a57000;

  /* ================================
     Texts - Light Mode
     ================================ */
  --color-text-primary: #1b1a1b;
  --color-text-secondary: #6b6b6b;

  /* ================================
     Texts - Dark Mode
     ================================ */
  --color-text-dark: #f5f5f5;
  --color-text-dark-secondary: #b0afaf;

  /* ================================
     Borders
     ================================ */
  --color-border-soft: #e6e6e6;

  /* ================================
     Accent Colors
     ================================ */
  --color-accent-pink: #9b166a;
  /* --color-accent-pink: #9b1668; */
  --color-accent-green: #008900;
  --color-accent-blue: #002297;
  --color-accent-purple: #81007d;
  --color-accent-yellow: #a57000;

  --color-accent-carousel-pink: #8d1361;
  --color-accent-carousel-green: #008900;
  --color-accent-carousel-blue: #002297;
  --color-accent-carousel-purple: #81007d;
  --color-accent-carousel-yellow: #a57000;

  --color-accent-dot-pink: #9d166d;
  --color-accent-dot-green: #009400;
  --color-accent-dot-blue: #002bb7;
  --color-accent-dot-purple: #a800a3;
  --color-accent-dot-yellow: #a36f00;

  --color-accent-dots: #901363;

  /* ================================
     Shadows
     ================================ */
  --shadow-ellipse: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

  --shadow-accent-pink: -2px 3px 10px 1px rgba(141, 19, 96, 0.2);
  --shadow-accent-green: -2px 3px 10px 1px rgba(0, 122, 0, 0.2);
  --shadow-accent-yellow: -2px 3px 10px 1px rgba(165, 113, 0, 0.2);
  --shadow-accent-blue: -2px 3px 10px 1px rgba(0, 35, 151, 0.17);
  --shadow-accent-purple: -2px 3px 10px 1px rgba(151, 0, 146, 0.2);

  /* ================================
     Gradients - Dark Mode
     ================================ */
  --color-gradient-start: #464144;

  --color-pink-gradient-start: #6b6b6b;
  --color-pink-gradient-end: rgba(157, 22, 110, 0.3);

  --color-green-gradient-end: rgba(23, 150, 23, 0.3);

  --color-yellow-gradient-end: rgba(120, 90, 26, 0.3);

  --color-blue-gradient-end: rgba(24, 51, 143, 0.2);

  --color-purple-gradient-end: rgba(154, 33, 150, 0.3);
}

.test {
  color: rgba(157, 22, 110, 0.1);
}
