@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@theme {
  /* ================================
     Typography
     ================================ */
  --font-rubik: "Rubik", sans-serif;

  /* ================================
     Neutral Colors — Light Mode
     ================================ */
  --color-bg-pink: #fff1fa;
  --color-bg-green: #f4fff4;
  --color-bg-yellow: #fff8ea;
  --color-bg-blue: #f6f8ff;
  --color-bg-purple: #fff2ff;

  --color-bg-slideControl: #efefef;
  --color-bg-muted: #f7f7f7;

  --color-text-primary: #1b1a1b;
  --color-text-secondary: #6b6b6b;
  --color-text-muted: #d9d9d9;

  --color-border-soft: #e6e6e6;

  /* ================================
     Accent Colors
     ================================ */
  --color-accent-pink: #9b1668;
  --color-accent-green: #008900;
  --color-accent-blue: #002297;
  --color-accent-purple: #9b166a;
  --color-accent-yellow: #a57000;

  --color-accent-carousel-pink: #8d1361;
  --color-accent-carousel-green: #008900;
  --color-accent-carousel-blue: #002297;
  --color-accent-carousel-purple: #81007d;
  --color-accent-carousel-yellow: #a57000;

  --color-accent-dot-pink: #9d166d;
  --color-accent-dot-green: #009400;
  --color-accent-dot-blue: #002bb7;
  --color-accent-dot-purple: #a800a3;
  --color-accent-dot-yellow: #a36f00;

  --color-accent-glow: rgba(141, 19, 96, 0.3);
  --color-accent-dots: #901363;

  /* ================================
     Shadows
     ================================ */
  --shadow-black: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  --shadow-accent: -2px 5px 15px 1px var(--color-accent-glow);
  /* --shadow-accent: 0 0 40px var(--color-accent-glow); */
}

testt {
  color: rgba(0, 0, 0, 0.342);
}
/* [data-theme="dark"] {
  --bg-main: #050505;
  --bg-card: #121212;
  --bg-muted: #1a1a1a;

  --text-primary: #ffffff;
  --text-secondary: #d1d1d1;
  --text-muted: #8b8b8b;

  --border-soft: #262626;
} */

/* Embla carousel styles */
.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
